/*-- scss:defaults --*/
$navbar-bg: #F8F5F0;   /* Sandstone 'Light' (warm off-white) */
$navbar-fg: #3E3F3A;   /* Sandstone 'Dark' (for text contrast) */
$navbar-hl: #000000ff;   /* Optional: Keeps the green highlight for active links */
$link-color: #4179b1ff;

// dark mode vars
$dark-bg: #3E3F3A;           /* Sandstone Dark Grey as Background */
$dark-fg: #F8F5F0;           /* Sandstone Off-White as Text */